
  name: Release Gem on RubyGems.org

  on:
    push:
      tags:
        - v*
    workflow_dispatch:

  jobs:
    release:
      name: Release to RubyGems
      runs-on: ubuntu-latest

      permissions:
        contents: write
        id-token: write

      steps:
        - name: Checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Set up Ruby
          uses: ruby/setup-ruby@v1
          with:
            ruby-version: ruby
            bundler-cache: true

        - name: Configure Git
          run: |
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"

        - name: Release Gem
          uses: rubygems/release-gem@v1
